{% extends 'accueil.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <div class="container row">
        <div class="card col-md-6">
            <div class="card-header">Liste des produits</div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Identifiant</th>
                        <th>libelle</th>
                        <th>Quantite en stock</th>
                    </tr>
                    {% for p in produits%}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.libelle }}</td>
                        <td>{{ p.qtStock }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card col-md-6">
            <div class="card-header">Formulaire de gestion des produits</div>
            <div class="card-body">
            
            </div>
        </div>
    </div>
{% endblock %}
